@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

@media only screen and (min-width:32em) {

    h1,h2,h3,h4,h5,h6 {
        margin: 0;
        margin-bottom: 6px;
        line-height: 1;
        color: #392be9;
        font-family: 'Bebas Neue', cursive;
    }

    .small{
        display: block;
    }

    .five-day{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 15px;
        text-align: center;
        background-color: #f1f9f9;
    }

    .five-day div{
        padding-top: 5px;
    }

    .five-day h3 {
        padding: 5px;
        grid-column: 1/6;
        background-color: white;
    }

    .summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        margin: 15px;
        padding: 10px;
        width: 30%;
        background-color: white;
        border: 2px solid #80adbb;
        border-radius: 5px;
        opacity: 0.9;
        background: radial-gradient(white, #e1f2fb);
    }


}

