@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

    .banner-box img {
        grid-column: 1 / -1; /* the -1 is just a fancy way to say "span all the columns" */
        grid-row: 1;
    }

    nav label {
        display: none;
    }

    #toggle[type=checkbox] ~ ul {
        display: flex;
        flex-flow: row wrap;
    }
    footer {
        padding: 0;
        padding-left: 12px;
        max-height: 55px;
        flex-flow: row wrap;
    }
    .flex {
        flex-flow: row wrap;
    }

    .col-33 {width: 33%;}
    .col-66 {width: 66%;}
    .col-50 {width: 50%;}
    .col-1 {width: 100%;}
    .flex-1 {flex: 1;}
    .flex-2 {flex: 2;}
    .flex-3 {flex: 3;}
}

